@model Song
<h3>@Model.SongName</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>SongName</th>
        <th>Artist</th>
        
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.SongName</td>
        <td>@Model.Artist</td>
    </tr>
    </table>
<p></p>
